useDynLib(cncppr, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(Block)
export(Machine)
export(Point)
export(Program)
export(block_arc_feedrate)
export(block_center)
export(block_delta)
export(block_desc)
export(block_dt)
export(block_feedrate)
export(block_interpolate_lambda)
export(block_interpolate_time)
export(block_lambda)
export(block_length)
export(block_line)
export(block_m)
export(block_n)
export(block_parse)
export(block_parsed)
export(block_profile)
export(block_r)
export(block_spindle)
export(block_summary)
export(block_target)
export(block_tool)
export(block_type)
export(block_walk)
export(machine_A)
export(machine_desc)
export(machine_error)
export(machine_fmax)
export(machine_load)
export(machine_max_error)
export(machine_offset)
export(machine_position)
export(machine_quantize)
export(machine_set_position)
export(machine_set_setpoint)
export(machine_setpoint)
export(machine_summary)
export(machine_tq)
export(machine_zero)
export(point_add)
export(point_delta)
export(point_desc)
export(point_is_complete)
export(point_length)
export(point_modal)
export(point_reset)
export(point_set)
export(point_vec)
export(point_x)
export(point_y)
export(point_z)
export(program_append)
export(program_blocks)
export(program_current)
export(program_desc)
export(program_done)
export(program_lines)
export(program_load)
export(program_load_next)
export(program_reset)
export(program_rewind)
export(program_size)
export(program_summary)
export(program_walk)

S3method(print, cncpp_block)
S3method(print, cncpp_machine)
S3method(print, cncpp_point)
S3method(print, cncpp_program)
